RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^watercressstudios\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.watercressstudios\.com$
RewriteRule ^(.*)$ https://www.watercressstudios.com/$1 [R,L]